/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.landing-hero--boiler{
    min-height: auto;
    height: 645px;
}

.boiler-wrapper{
    right: -200px;
    top: -200px;
    
}

.boiler-img{
    position: relative;
    min-height: 1000px;
    min-width: 1020px;
}

.info-text{
    min-width: 500px;
}



